@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Signika+Negative:wght@300..700&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: rgb(249, 242, 237);
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 100px;
}
#loader{
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* z-index: 99; */
}
#loader > svg{
  width: 100px;
}
h1 {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
  color: #000000;
  font-size: 50px;
  margin-bottom: 10px;
}

.weather {
  display: inline-block;
  border: 1px solid black;
  border-radius: 22px;
  border: solid black 1px;
  background-color: white;
  padding-left: 0px;
  transition: .3ss;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
}
.wcontainer{
  display: flex;
  justify-content: center;
}
.wtsapp {
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.search {
  width: 25px;
  transition: .3s;
  margin-bottom: -8px;
  margin-right: 20px;
}

#city {
  height: 40px;
  width: 210px;
  margin-left: 20px;
  
  transition: .3s;
  font-family: "Signika Negative", sans-serif;
  font-style: normal;
  font-size: 15px;
  border: none;  
  transition: .3s;

}
/* #city:active{
  outline: none;
  border: none;
  width: 260px;
  transition: .3s;

} */
#city:focus{
  outline: none;
  border: none;
  width: 260px;
  transition: .3s;
  background-color: white;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 70px;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid black;
  background-color: antiquewhite;
}

.info {
  margin-top: 20px;
  height: 400px;
  width: 0px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color:rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  border: 1px solid black;
  display: none;
  flex-direction: column;
  transition: height 5s linear;
}
.info{
  height: 300px;
  transition: height 5s linear;
}

.nav {
  backdrop-filter: blur(15px);

}

.notf {
  display: flex;
  margin-top: 2px;
  justify-content: center;
  font-size: 13px;
  color: red;
  display: none;
  transition: .3s;
}

.load {
  display: flex;
  margin-top: 2px;
  justify-content: center;
  color: red;
  display: none;
  transition: .3s;

}

.load svg {
  width: 50px;
  height: 50px;

}

.wimg {
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.temper {
  font-size: 70px;
  margin: 5px auto 0px auto;
}

.name {
  font-size: 40px;
  margin: 20px auto 0px auto;
}

.cont {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.humidimg,
.windimg {
  width: 30px;
  height: 30px;
  margin-top: 3px;
}

.wind,
.humid {
  font-size: 15px
}

.wind {
  margin-right: 5px;
  margin-left: 5px;
}

.humid {
  margin-left: 5px;

}

.humidimg {
  margin-left: 15px;
}

.windimg {
  /* margin-right: -30px;  */
  margin-left: auto;
}

.wdescription {
  margin: auto;
  font-size: 23px;
}

@media only screen and (max-width: 450px) {
  .wimg {
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .temper {
    font-size: 70px;
    margin: 5px auto 0px auto;
  }

  .name {
    font-size: 40px;
    margin: 20px auto 0px auto;
  }

  .cont {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .humidimg,
  .windimg {
    width: 30px;
    height: 30px;
    margin-top: 3px;
  }

  .wind,
  .humid {
    font-size: 15px
  }

  .wind {
    margin-right: 5px;
    margin-left: 5px;
  }

  .humid {
    margin-left: 5px;

  }

  .humidimg {
    margin-left: 15px;
  }

  .windimg {
    /* margin-right: -30px;  */
    margin-left: auto;
  }

  .wdescription {
    margin: auto;
    font-size: 23px;
  }
}

@media only screen and (mqx-width: 400px) {
  .name {
    margin-top: 0px;
  }
}

/* 
@media only screen and (min-height: 1000px) {
  h1 {
    text-align: center;
    margin-top: 20px;
    color: #000000;
    font-size: 50px;
  }
  .weather {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
  }
  .wtsapp {
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .search {
    width: 50px;
    margin-left: 10px;
    transition: .3s;
  }
  .search:hover{
    width: 60px;
    transition: .3s;
  
  }
  #city {
    height: 60px;
    width: 400px;
    margin-left: 40px;
    padding: 2px 30px;
    border-radius: 44px;
    border: solid black 1px;
    transition: .3s;
    font-size: 30px;
  }
  #city:focus{
    outline: none;
    width: 420px;
    transition: .3s;
  }
  #city:hover{
    width: 420px;
    transition: .3s;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    backdrop-filter: blur(10px);
    font-size: 30px;
  }
  
  .info {
    margin-top: 40px;
    height: 800px;
    width: 600px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .notf{
    display: flex;
    margin-top: 4px;
    justify-content:center;
    font-size: 26px;
    color: red;
    display: none;
    transition: .3s;
  }
  .load{
    display: flex;
    margin-top: 4px;
    justify-content:center;
    color: red;
    display: none;
    transition: .3s;
    
  }
  .load svg {
    width: 100px;
    height: 100px;
  
  }
  .wimg{
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  } 
  .temper{
    font-size: 140px;
    margin: 10px auto 0px auto;
  }
  .name{
    font-size: 80px;
    margin: 10px auto 10px auto;
  }
  .cont{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .humidimg, .windimg{
    width: 60px;
    height: 60px;
    margin-top: 6px;
  }
  .wind, .humid{
    font-size: 30px
  }
  .wind{
    margin-right: 10px;
    margin-left: 10px;
  }
  .humid{
    margin-left: 10px;
  
  }
  .humidimg{
    margin-left: 30px;
  }
  .windimg{
    /* margin-right: -30px; 
    margin-left: auto;
  }
  .wdescription{
    margin: auto;
    font-size: 50px;
  }

} */
.ftimg {
  width: 30px;
  margin-left: 15px;
}

.myinfo {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  height: auto;
  width: 350px;
  text-decoration: underline;
  border-radius: 10px;
  margin-left: auto;
  /* margin-right: auto;
  background: rgba(255, 255, 255, 0.648);
  border: 1px solid black; */
  justify-content: center;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  align-items: center;
}
